.crud{
  &-bool-form{
    label{
      &:hover{
        cursor: pointer;
      }
    }
  }
  &-collection{
    display: flex;
    flex-wrap: wrap;
    &-item{
      background-color: #333;
      color: white;
      border-radius: 3px;
      padding: 3px;
      border: 1px double #333;
      margin: 1px;
    }
  }
}