.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-admin-header;
  color: $color-white;
  min-height: 7rem;

  &-logo {
    margin: 1rem;

    a img {
      width: 200px;
      height: 100%;
      object-fit: contain;
    }

    &-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
    }
  }

  &-deconnexion {
    float: right;
    border-radius: 10px;
    border: 2px solid $color-white;
    margin-right: 1rem;

    &:hover {
      background-color: $color-white;
    }

    a {
      color: $color-white;
      padding: 0 1rem;

      &:hover {
        text-decoration: none;
        color: $color-admin-accent;
      }
    }
  }
}
