.btn-doctolib {
  display: block;
  width: 168px;
  margin: auto;
  text-decoration: none;
  padding: 9px 34px;
  border-radius: $radius-md;
  background-color: $color-doctolib;

  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/logos/b69a8f22b5bf7fa8d5db.svg') $color-doctolib no-repeat center / cover;
    border: 2px solid $color-doctolib;
    width: auto;
    padding: 10px 15px;
    border-radius: $radius-md;
    color: $color-white;
    font-size: 18px;
    height: 32px;

    &:hover {
      border: 2px rgba(255, 255, 255, 0.8) solid;
    }
  }

  &-mini {
    background: url('/logos/b69a8f22b5bf7fa8d5db.svg') $color-doctolib no-repeat center / cover;
    display: block;
    width: 75px;
    height: 35px;
  }
}
