.domains-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &-title {
    text-decoration: none;
    transition: $transition-base;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.domain-wrap {
  width: 33%;
}

.domain-card {
  border: 2px solid $color-primary;
  border-radius: $radius-md;
  min-height: 500px;
  width: 550px;
  margin: 30px 10px;
  padding: 30px;
  box-shadow: $shadow-card;

  &-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  ul {
    list-style: none;

    li {
      a {
        text-decoration: none;
        color: $color-primary;
        transition: $transition-base;

        &:hover {
          color: $color-secondary;
        }
      }

      &::before {
        content: '✓';
      }
    }
  }

  h3 {
    margin: 20px 0 50px;
  }
}

@media (max-width: $bp-sm) {
  .domain-card {
    margin: 50px 0;
    width: 100%;
  }
}
