#midwife {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  margin: $space-section 0;

  .midwife-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $space-xl;
  }
}

#degree, #path {
  ul {
    list-style: none;
  }
}

#degree, #path, #contact, #services {
  h2 {
    text-align: center;
  }
}

#midwife-carousel {
  margin: $space-xl 0 $space-section;

  #midwifeCarousel {
    img.midwife-carousel-picture {
      height: 550px;
      object-fit: cover;
      width: 100%;
    }
  }
}
