.midwives-service {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.midwife-horizontal-card {
  margin: 20px $space-xl $space-xl;
  display: flex;
  flex-direction: column;
  border-radius: $radius-md;

  &-top {
    margin: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-picture {
      display: block;
      height: 150px;
      width: 150px;
      border-radius: $radius-full;
      z-index: $z-header;
      overflow: hidden;

      &-image {
        background: center center / cover no-repeat;
        width: 100%;
        height: 100%;
        transition: $transition-slow;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  &-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $space-xs;
    width: 100%;

    &-top {
      h4 {
        text-align: center;
        font-weight: 600;
      }
    }

    &-bottom {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      &-phone {
        display: flex;
        justify-content: center;
        margin: 20px 0;

        a {
          @extend .btn-phone;

          span {
            font-weight: 600;
          }
        }
      }

      &-doctolib {
        font-size: 12px;
      }
    }
  }
}
