#wazeBtn {
  display: none;
  justify-content: center;
  align-items: center;
  margin-bottom: $space-xl;

  .waze {
    background: url('/logos/waze-logo.png') no-repeat center / cover;
    width: 90px;
    height: 50px;

    i {
      fill: $color-white;
    }
  }
}

@media (max-width: $bp-sm) {
  #wazeBtn {
    display: flex;
  }
}
