@import '~bootstrap/scss/bootstrap';
@import "~fontawesome-free/css/all.css";
@import '../common/variables';
@import '../common/fonts';
@import '_header.scss';
@import '_homepage.scss';
@import 'titlebar';
@import 'doctolib';
@import '_midwife-card.scss';
@import '_midwife-horizontal-card.scss';
@import 'domains-card', 'service', 'midwife', 'menu-burger', '../common/login', 'footer', 'domain', 'slide-in', "waze-btn";

.domain-iframe{
  height: 500px;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Helvetica', sans-serif;
  header{
    width: 100%;
    flex: initial;
  }
  main {
    width: 100%;
    flex: 1;
    h1{
      font-weight: 700;
      font-family: 'Tangerine', cursive;
      font-size: 100px;
    }
  }
  footer{
    width: 100%;
    flex: initial;
  }
}