<header class="header">
    <div class="header-logo">
        <a href="{{ path('admin_home') }}">
{#            <img src="{{ asset('uploads/logo.png') }}" alt="logo Madera">#}
        </a>
    </div>
    <div class="header-nav">
        Cabinet GPT
    </div>
    <div class="header-deconnexion">
        <a href="{{ path('app_logout') }}">Déconnexion</a>
    </div>
</header>