<a href="{{ midwife.doctolibUrl is not null ? midwife.doctolibUrl : '#' }}" class="btn-doctolib-mini" target="_blank">
        <span class="btn-doctolib-mini-content">
                Prendre rendez-vous
        </span>
</a>