{% extends 'front/layouts/layout.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block content %}
<div class="title" style="background-color:lightgrey;">
    <h1>Une erreur est survenue</h1>
    <div class="overlay-light"></div>
</div>

<section class="container my-5 text-center">
    <p class="lead">Nous rencontrons un problème temporaire. Veuillez réessayer dans quelques instants.</p>
    <a href="{{ path('homepage_homepage') }}" class="btn btn-outline-secondary mt-3">
        <i class="fas fa-long-arrow-alt-left"></i> Retour à l'accueil
    </a>
</section>
{% endblock %}
